@import "bootstrap-sprockets";
@import "bootstrap";

.error {
  color: red;
  list-style: none;
}

.add-comment {
  margin: 20px;
}

.comment-panel {
  width: 50%;
  margin: 10px auto;
  h3 {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
  }
}

.comment-panel-title {
  border-bottom: 1px solid black;
}

.created_at {
  font-size: 12px;
}
